* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}

/* Top Navigation */
nav.topNav {
    overflow: hidden;
    background-color: #013481;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
}
nav.topNav a {
    float: left;
    font-weight: bold;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav.topNav a:hover {
    color: #68a5ff;
}
nav.topNav a.active {
    color: #013481;
    background-color: #f2f2f2;
}
nav.topNav button.menu-icon, nav.topNav button.menu-icon {
    display: none;
	color: #f2f2f2;
	border: none;
	padding-right: 1em;
    padding-top: 1em;
    background: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
nav.topNav button.menu-icon i, nav.topNav.responsive button.menu-icon i#open-icon {
    display: none;
}
nav.topNav button.menu-icon i#open-icon{
    display: block;
}
nav.topNav.responsive button.menu-icon i#close-icon{
    display: block;
}
@media screen and (max-width: 600px){
    nav.topNav a:not(:first-child) {
        display: none;
    }
    nav.topNav button.menu-icon {
        display: block;
        float: right;
    }
}
nav.topNav.responsive {
    position: relative;
    height: auto;
}
nav.topNav.responsive button.menu-icon{
    position: absolute;
    top: 0;
    right: 0;
}
nav.topNav.responsive a{
    display: block;
    float: none;
    text-align: left;
}


main {
    margin: auto;
    margin-top: 5em;
    padding: 2em;
    width: 90%;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
}

.t-align-center {
    text-align: center;
}
